NODE_ENV=development
PORT=4000
APP_URL=http://localhost:4000

# Bases distintas por entorno (requisito del proyecto)
MONGODB_URI_DEV=mongodb://127.0.0.1:27017/apicenar_dev
MONGODB_URI_QA=mongodb://127.0.0.1:27017/apicenar_qa

# JWT
JWT_SECRET=cambia_este_secreto_jwt_en_equipo
JWT_EXPIRES_IN=8h

# Correo (Nodemailer). Si se omiten, en desarrollo se usa Ethereal
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USER=tu_correo@gmail.com
# EMAIL_PASS=tu_app_password
# EMAIL_FROM=ApiCenar <noreply@apicenar.local>
